/*--------------------------Reset--------------------------*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------------Container--------------------------*/
#container {
    width: 100vw;
    height: 100vh;
    background-color: #013022;
}

/*--------------------------Header--------------------------*/
#hd {
    width: 100vw;
    height: 10vh;
    background-color: darkcyan;
    display: flex;
}

.hd__sec {
    /* border: 1px dotted black; */
    height: 100%;
    /* background-color: darkkhaki; */
}

#hd__sec01 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hd__sec01 img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

#hd__sec02 {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#nav__list li {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#nav__list li:hover {
    background-color: white;
    color: darkcyan;
}

#nav__list li a:hover {
    background-color: white;
    color: darkcyan;
}

#nav__list li a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#hd__sec03 {
    flex: 4;
}
/*--------------------------Main--------------------------*/
#mn {
    width: 100vw;
    height: auto;
    background-color: rgb(1, 55, 55);
}

#mn__sec01 {
    text-align: center;
    color: white;
    height: 40vh;
}

#mn__sec01 img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 10px;
}

#mn__sec02 {
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 30vh 30vh;
    gap: 10px;
    grid-template-areas:
    "tit tit tit"
    "proj01 proj02 proj03"
    "proj04 proj05 proj06";
}
#mn__sec02 h2 {
    color: white;
    grid-area: tit;
}
#mn__sec02__proj01 {
    background-color: chartreuse;
    grid-area: proj01;
    background-image: url("01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mn__sec02__proj02 {
    background-color: rgb(191, 248, 135);
    grid-area: proj02;
    background-image: url("02.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mn__sec02__proj03 {
    background-color: rgb(29, 44, 14);
    grid-area: proj03;
    background-image: url("03.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mn__sec02__proj04 {
    background-color: rgb(128, 133, 124);
    grid-area: proj04;
    background-image: url("03.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mn__sec02__proj05 {
    background-color: rgb(201, 250, 151);
    grid-area: proj05;
    background-image: url("01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mn__sec02__proj06 {
    background-color: rgb(54, 64, 43);
    grid-area: proj06;
    background-image: url("02.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mn__sec02__proj {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.mn__sec h3{
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: darkcyan;
}
/*--------------------------Footer--------------------------*/
#ft {
    width: 100vw;
    height: 10vh;
    background-color: darkcyan;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

/*--------------------------Media Queries--------------------------*/

/*--------------------------Small Devices----------------------------------*/
@media screen and (max-width: 475px) {
    /*--------------------------Container--------------------------*/
#container {
    width: 100vw;
    height: auto;
    background-color: #013022;
}
/*--------------------------Header--------------------------*/
#hd {
    width: 100vw;
    height: 25vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

#nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#nav__list li {
    margin: 0px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#mn__sec02 {
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 30vh 30vh 30vh 30vh 30vh 30vh;
    gap: 10px;
    grid-template-areas:
    "tit"
    "proj01"
    "proj02"
    "proj03"
    "proj04"
    "proj05"    
    "proj06";

}
#mn__sec02 h2 {
    color: white;
    grid-area: tit;
}
#mn__sec02__proj01 {
    background-color: chartreuse;
    grid-area: proj01;
}
#mn__sec02__proj02 {
    background-color: rgb(191, 248, 135);
    grid-area: proj02;
}
#mn__sec02__proj03 {
    background-color: rgb(29, 44, 14);
    grid-area: proj03;
}
#mn__sec02__proj04 {
    background-color: rgb(128, 133, 124);
    grid-area: proj04;
}
#mn__sec02__proj05 {
    background-color: rgb(201, 250, 151);
    grid-area: proj05;
}
#mn__sec02__proj06 {
    background-color: rgb(54, 64, 43);
    grid-area: proj06;
}



}
/*--------------------------Medium Devices----------------------------------*/
@media screen and (min-width: 476px) and (max-width: 768px) {
    /*--------------------------Container--------------------------*/
#container {
    width: 100vw;
    height: auto;
    background-color: #013022;
}
/*--------------------------Header--------------------------*/
#hd {
    width: 100vw;
    height: 15vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

#nav__list {
    display: flex;
    /* flex-direction: column; */
    list-style: none;
    justify-content: center;
    align-items: center;
}

#nav__list li {
    margin: 0px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#mn__sec02 {
    padding: 20px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 30vh 30vh 30vh;
    gap: 10px;
    grid-template-areas:
    "tit tit"
    "proj01 proj02"
    "proj03 proj04"
    "proj05 proj06";

}
#mn__sec02 h2 {
    color: white;
    grid-area: tit;
}
#mn__sec02__proj01 {
    background-color: chartreuse;
    grid-area: proj01;
}
#mn__sec02__proj02 {
    background-color: rgb(191, 248, 135);
    grid-area: proj02;
}
#mn__sec02__proj03 {
    background-color: rgb(29, 44, 14);
    grid-area: proj03;
}
#mn__sec02__proj04 {
    background-color: rgb(128, 133, 124);
    grid-area: proj04;
}
#mn__sec02__proj05 {
    background-color: rgb(201, 250, 151);
    grid-area: proj05;
}
#mn__sec02__proj06 {
    background-color: rgb(54, 64, 43);
    grid-area: proj06;
}


}
/*--------------------------Large Devices----------------------------------*/
@media screen and (min-width: 769px) {

}