/*--------------------------Reset--------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

/*--------------------------Container--------------------------*/
#container {
    width: 100vw;
    height: 100vh;
    background-color: #013022;
}