/*--------------------------Reset--------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

/*--------------------------Container--------------------------*/
#container {
    width: 100vw;
    height: 100vh;
    background-color: #013022;
}

/*--------------------------Header--------------------------*/
#hd {
    width: 100vw;
    height: 10vh;
    background-color: darkcyan;
    display: flex;
}

.hd__sec {
    /* border: 1px dotted black; */
    height: 100%;
    /* background-color: darkkhaki; */
}

#hd__sec01 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hd__sec01 img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

#hd__sec02 {
    flex: 6;
}
#hd__sec03 {
    flex: 4;
}
/*--------------------------Main--------------------------*/
#mn {
    width: 100vw;
    height: 80vh;
    background-color: rgb(1, 55, 55);
}

/*--------------------------Footer--------------------------*/
#ft {
    width: 100vw;
    height: 10vh;
    background-color: darkcyan;
}